<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
      id="com.ezartech.ezar"
      version="0.1.0">
      
    <name>ezAR</name>

    <js-module src="www/ezar.js" name="ezar">
        <clobbers target="ezar" />
    </js-module>
    
 
    <js-module src="www/camera.js" name="camera">
        <clobbers target="camera" />
    </js-module>
    
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ezAR">
                <param name="ios-package" value="CDVezAR"/>
            </feature>
        </config-file>
        <header-file src="src/ios/CDVezAR.h" />
        <header-file src="src/ios/CDVezARCameraViewController.h" /> 
        <source-file src="src/ios/CDVezAR.m" />
        <source-file src="src/ios/CDVezARCameraViewController.m" />
        
        <!-- <source-file src="src/ios/libezar.a" /> -->
        
        <framework src="UIKit.framework" />
    	<framework src="Foundation.framework" />
    	<framework src="AVFoundation.framework" />
        
    </platform>

</plugin>
